@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Message"]</h2>


<p>@ViewData["nome"]</p>

<address>
    <strong>
Informações:
    </strong>
    <a href="@ViewData["github"]">@ViewData["github"]</a>
</address>
